# Server
PORT=5000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=taskflow_d[nodemon] app crashed - waiting for file changes before starting...b
DB_USER=taskflow_user
DB_PASSWORD=Pranav100@#

# JWT
JWT_SECRET=2e5030d97aa9d0f9b06dfe896e9e9a226a4899503afc754e98b2a445f3e24c5b
JWT_EXPIRES_IN=24h

# Email (SendGrid or any SMTP)
SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=587
SMTP_USER=apikey
SMTP_PASS=your-sendgrid-api-key
EMAIL_FROM=noreply@taskflow.com














# {
#   "builder": {
#     "gc": {
#       "defaultKeepStorage": "20GB",
#       "enabled": true
#     }
#   },
#   "experimental": false
# }